<!-- <h2>Sign up</h2> -->
<div class="conteiner-login flexy">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="carta-login">
<div class="forms-login flexy">
  <div class="forms-conteiner flexy">

  <div class="text-box-user flexy">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  </div>

  <div class="text-box-user flexy">
  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  </div>

  <div class="text-box-user flexy">
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  </div>

</div>
</div>

  <div class="actions">
    <div class="buton-login flexy">
    <%= f.submit "Sign up" %>
    </div>
  </div>

  <div class="footer-login">
     <span class="holder flexy">
      <%= render "devise/shared/links" %>
    </span>
  </div>
</div>
<% end %>


</div>
