<div class="conteiner-login flexy">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="carta-login">
        <div class="header-login">
          <p>You need to sign in or sigin up before continuing!</p>
        </div>
        <div class="forms-login flexy">
          <div class="forms-conteiner flexy">
            <div class="text-box-user flexy">
              <!-- <h2>User name:</h2> -->
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email %>
              </div>
            </div>
            <div class="text-box-pass flexy">
              <!-- <h2>Password:</h2> -->
              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "off" %>
              </div>
            </div>
          </div>
        </div>
        <div class="buton-login flexy">
          <%= f.submit "Log in" %>
        </div>
        <div class="footer-login">
           <span class="holder flexy">
            <%= render "devise/shared/links" %>
          </span>
        </div>
      </div>
      <% end %>
    </div>
