<% @posts.each do |post| %>

      <div class="conteiner-carta">
        <div class="imagen-carta">

          <div class="imagen-rails">
            <%= image_tag post.image.url(:large) %>
          </div>
          <p><%= post.created_at.strftime("%B, %d, %Y") %></p>
        </div>
        <h2 class="title"><%= link_to post.title, post %></h2>
        <p class="articulo"><%= post.body .truncate_words(12) %></p>
        <div class="butonsito buton">
            <!-- <a href="#">Read more</a> -->
            <%= link_to "Read More", post %>

        </div>

      </div>


      <!-- <div class="carta">
        <div class="contenedor_titolo">
        	<%= image_tag post.image.url(:thumb) %>
            <h2 class="title"><%= link_to post.title, post %></h2>
            <p class="date"><%= post.created_at.strftime("%B, %d, %Y") %></p>
        </div>
      </div> -->


<% end %>
