<div class="carta-principal">
    <div class="header-post-page">
    <style media="screen">
        .header-post-page { background-image: url("/assets/basio-3.png"),
                                              url(<%= @post.image.url(:large) %>);
                            background-repeat: no-repeat;
                            -webkit-background-size: cover;
                            background-size: cover;
                            background-position: center;
                          }
    </style>
        <div class="imagen-post">
        <%= image_tag @post.image.url(:thumb) %>
        </div>

        <div class="title-conteiner">
            <h1 class="title">
              <%= @post.title %>
            </h1>
            <!-- <p class="date">
            </p> -->
          <% if user_signed_in? %>
            <span class="menu-editar"></span>
          <% end %>
        </div>
    </div>
    <div class="body-conteiner">
      <% if user_signed_in? %>
          <div class="edit-dilete">
            <span class="tools">
               <%= fa_icon "pencil" %>
               <%= link_to 'Edit', edit_post_path(@post) %>
               <%= fa_icon "trash" %>
               <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
          </div>
      <% end %>
          <div class="submitted-date">
          Submitted <%= time_ago_in_words(@post.created_at) %> Ago
            <!-- <span class="edit-dilete">
             <% if user_signed_in? %>
               | <%= link_to 'Edit', edit_post_path(@post) %>
               | <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
             <% end %>
            </span> -->
          </div>
          <p class="body-post">
            <%= @post.body %>
          </p>

          <div id="comments">
            <h2><%= @post.comments.count %> Comments</h2>
            <%= render @post.comments %>

            <h3>Add a comment:</h3>
            <%= render "comments/form" %>
          </div>
    </div>
  </div>
