<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="bara-superior">
    <button><%= link_to "New Post", new_post_path %></button>
    <button>Sigin aut</button>
  </div>
<div id="page_wrapper">
  <div id="sidebar">
    <div id="logo"></div>
    <div class="menu">
      <ul>
        <li class="category">Website</li>
        <li><%= link_to "Blog", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
      <p class="sigin_in">Sigin in/Admin</p>
    </div>
  </div>
  <!-- <div class="bara-superior">
    <button>Sigin aut</button>
  </div> -->

  <div id="post_wrapper">
    <% if current_page?(root_path) %>
      <p>All Posts</p>
    <% elsif current_page?(about_path) %>
      <p>About</p>
    <% else %>
      <%= link_to "Back to All Posts", root_path %>
    <% end %>

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, mmsg, class: "alert") %>
    <% end %>
     <%= yield %>
  </div>
</div>

</body>
</html>
