<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name=viewport content="width=device-width, initial-scale=1">
</head>
<body>


<!--contenido MIOOO-->


<div id="wraper_flex">
    <div id="bara_menu">
      <div class="logo">
      </div>
      <div class="menu">
        <ul>
          <li><%= link_to "Blog", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "New Post", new_post_path %></li>
        </ul>
        <ul>
          <li>Twitter</li>
          <li>Facebook</li>
          <li>Istagram</li>
          <li>Email</li>
        </ul>



        <% if !user_signed_in? %>
          <p class="sign_in"><%= link_to "Admin Login", new_user_session_path %></p>
        <% end %>

      </div>
    </div>
    <div id="contenedor_principal_flex">
        <div class="header">
          <!--Boton de Menu-->
            <div class="menu-opener">
              <span class="linea"></span>
            </div>
          <!--Boton de Menu-->
         <% if user_signed_in? %>
             <span class="nombre">
             <!--<p>Alex Man </p>-->
                <span class="buuton_header">
                  <%= link_to "New Post", new_post_path %>
                </span>
             </span>
             <span class="log_out">
             <!--<p><i class="fa fa-sign-out"></i>  Log out</p>-->
             <% if user_signed_in? %>
             <p class="logout">
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              </p>
             <% end %>
             </span>
          <% end %>

        </div>
    <!--Menu-Mobile-->
        <div class="menu-mobile">
         <div class="menu-contenido">
           <ul>
            <li><%= link_to "Blog", root_path %></li>
            <li><%= link_to "About", about_path %> </li>
            <li><%= link_to "New Post", new_post_path %></li>
           </ul>
           <ul>
             <li>Twitter</li>
             <li>Facebook</li>
             <li>Istagram</li>
             <li>Email</li>
           </ul>
          </div>
        </div>
    <!--END Menu-Mobile-->
        <div class="imagen_header">
          <!-- <img src="/img/youandme.png" alt=""> -->
        </div>

        <div class="pagina_actual">
          <% if current_page?(root_path) %>
            <p>All Posts</p>
          <% elsif current_page?(about_path) %>
            <p>About</p>
          <% else %>
            <%= link_to "Back to All Posts", root_path %>
          <% end %>
        </div>

        <div class="contenido">
          <div class="cartera_flex_uno">
        <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert") %>
        <% end %>
         <%= yield %>
          </div>
         </div>
     </div>
  </div>

  <script>
    function openMenu( jQuery ) {
    $(".menu-opener").click(function(){
        $(".menu-mobile").animate({
             height: 'toggle'
         });
      });
     }

     //Menu de editar el post

     function clikMenuHeader( jQuery ) {
     $(".menu-editar").click(function(){
         $(".edit-dilete").animate({
              height: 'toggle'
          });
       });
      }

     $( document ).ready( openMenu );
     $( document ).ready( clikMenuHeader );




// $(document).ready(function(){
//     $("button").click(function(){
//         $("div").animate({
//             height: 'toggle'
//         });
//     });
// });
  </script>

</body>
</html>
